<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Felicidades! Estás confirmado </title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">

</head>
<body>
    <main class="fondo-confirmado">
        <div class="hoja-superior-confirmado">
            <img src="/images/hoja-superior-confirmado.png" alt="">
        </div>

        <div class= "caja-confirmado">
            <div class="textos-error" >
                 <h1>¡Confirmadísimo!</h1>
                 <p>Muchas gracias por confirmar tu asistencia, estamos muy felices de compartir este día contigo.</p>
                 <a href="/"><button class="boton-volver" >Volver al menu</button></a>
            </div>
        </div>

        <div class="hoja-inferior-confirmado">
            <img src="/images/hoja-inferior-confirmado.png" alt="">
        </div>
        
        
    </main>
</body>
</html>
