<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio Carol & Daniel</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;300;400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/dashboard.css">

</head>

<body>
    <main>
        <div class="title">
            <h1>¡Hola
                <br> Carol y Daniel
            </h1>
        </div>
        <div class="guest_counter">
            <p>Hasta el momento han Confirmado:</p>
            <div>
                <p class="guest_confirmed">
                    23 invitados
                </p>
            </div>
        </div>
        <div class="guest_details">
            <div>
                <p class="number">10</p>
                <p>De ellos llevan acompañante</p>
            </div>
            <div>
                <p class="number">4</p>
                <p>Necesitan un
                    menú especial</p>
            </div>
        </div>
        <div class="guest_additional_info">
            <p class="number">40</p>
            <p>Invitados en total</p>
        </div>
        <div class="button_container">
            <a class="btn-blanco" onclick='siguienteTab()'>
                <div class="button ripple">
                    <p>Ver en detalle</p>
                </div>
            </a>
            <div class="download_container">
                <a class="descarga" href="/download-list"> <img src="images/btn-descarga.svg" height="15px" width="15px" alt=""> Descargar lista en excell</a>
            </div>
        </div>
    </main>


    <script src="/javascripts/script.js"></script>
</body>

</html>