<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algo ha salido mal</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">

</head>
<body>
    <main class="fondo-error">
        <div class="hoja-superior">
            <img src="/images/hoja-superior.png" alt="">
        </div>

        <div class= "caja-error">
            <div class="textos-error" >
                 <h1>¡Ups! Algo salió mal</h1>
                 <p>No hemos podido registrar tu información, por favor vuelve a intentarlo.</p>
                 <a href="/"><button class="boton-volver" >Volver al menu</button></a>
            </div>
        </div>

        <div class="hoja-inferior">
            <img src="/images/hoja-inferior.png" alt="">
        </div>
        
        
    </main>

</body>
</html>
