<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;0,900;1,400&family=Mr+Dafoe&display=swap"
    rel="stylesheet">
  <style>
    body {
      background-color: #FFFBF4;
      margin: 0;
    }

    p {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.005em;
      text-align: center;
      padding: 0 1.5em 0 1.5em;
    }

    h1 {
      font-family: 'Abril Fatface';
      font-size: 10vmin;
      text-align: center;
      color: #385420;
      z-index: 1;
      margin-bottom: 20px;
      letter-spacing: 1px;
      font-weight: 200;
    }

    h2 {
      font-family: 'Abril Fatface';
      font-size: 8vmin;
      text-align: center;
      color: #385420;
      z-index: 1;
      letter-spacing: 1px;
      font-weight: 200;
      margin-top: 1%;
      margin-bottom: 1%;

    }

    h3 {
      font-family: 'Mr Dafoe';
      font-size: 2.7rem;
      color: #385420;
      text-align: center;
      margin-top: -1%;
      margin-bottom: 12%;

    }

    button {
      position: relative;
      border: none;
      border-radius: 4.4em;
      width: 100%;
      height: 3em;
      margin: 0.5em 0;
      font-size: 1em;
      align-content: center;
    }

    .información {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .boton-volver {
      background-color: #F3EADA;
      color: #233414;
      width: auto;
      padding: 0px 30px 0px 30px;
      text-align: center;
    }

    .boton-volver:hover {
      background-color: #385420;
      color: #FFFFFF;
    }

    .textos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .ilustracion {
      width: 100%;

    }

    .parrafos {
      margin-top: 50px;
      margin-bottom: -1%;
    }

    .texto-blanco {
      color: #FFFFFF;
      margin-top: 50px;
      width: inherit;
    }

    #h1 {
      margin-top: -5%;
      margin-bottom: -1%;
    }

    #footer {}

    .datos {
      margin-bottom: -20%;
    }
  </style>
</head>

<table align="center" style="max-width: 700px;">
  <tbody class="informacion" align="center" style="width: 100%;">
    <tr align="center">
      <table>
        <tbody>
          <tr align="center" class="parrafos">
            <td align="center">
              <p>Has confirmado tu invitación al matrimonio de</p>
            </td>
          </tr>
          <tr align="center" class="textos">
            <td align="center">
              <img src="http://cdn.jsdelivr.net/gh/Pabpol/guest_manager/public/images/ilustracioncyd.png" alt="ilustracion"
                class="ilustracion">
            </td>
          </tr>
        </tbody>
      </table>
      <table class="textos datos" align="center">
        <tbody>
          <tr>
            <td align="center">
              <h1 style=" font-family: 'Abril Fatface';" id="h1">Carol & Daniel</h1>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p style="font-family: 'Lato';">Recuerda que nuestra ceremonia y celebración posterior se realizaran el día:</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <h2 style=" font-family: 'Abril Fatface';">28 . 01 . 2023</h2>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p style="font-family: 'Lato';">A las 18:30 en Parroquia Nuestra señora de las Mercedes de Concon para continuar la fiesta en Centro de eventos Chapanay</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="textos" id="footer" style='background-image: url("http://cdn.jsdelivr.net/gh/Pabpol/guest_manager/public/images/diseno-email.png");
          background-size:cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 58vh;
          '>
        <tbody>
          <tr>
            <td align="center">
              <h3 style="font-family: 'Mr Dafoe';">¡Te esperamos!</h3>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p class="texto-blanco" style="font-family: 'Lato';">¿Necesitas revisar los datos de nuevo? Vuelve a nuestro sitio web y revisa toda la
                información aquí:</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <a href="https://guestmanager-production.up.railway.app/"><button class="boton-volver">Ir al
                  sitio</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </tr>

  </tbody>
</table>

</html>